:root {
  --header-bg: #555;
  --title-bg: #555;
  --title-border-bg: rgba(255,255,255,0.1);
  --arrow-bg: #5a5a5a;
  --arrow-border-left-bg: #444;
  --menu-bg: #555;
  --scroll-bg: #3a3a3a;
}
.green-select path {
  fill: currentColor;
}
.green-select-header {
  background: var(--header-bg);
  border-radius: 3px;
}
.green-select-title {
  background: var(--title-bg);
  border-top: 1px solid var(--title-border-bg);
}
.green-select-arrow {
  border-top: 1px solid var(--title-border-bg);
  background: var(--arrow-bg);
  border-left: 1px solid var(--arrow-border-left-bg);
}
.green-select-menu {
  background: var(--menu-bg);
}
.green-select-option {
  background: inherit;
}
.green-select-option:hover {
  filter: brightness(150%);
}
.green-select-menu-wrapper > div::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.5);
}
.green-select-menu-wrapper > div::-webkit-scrollbar-track {
  background: var(--scroll-bg);
}
