:root {
  --header-bg: #DB7C26;
  --title-bg: #DB7C26;
  --title-border-bg: rgba(255,255,255,0.1);
  --arrow-bg: #E1934D;
  --arrow-border-left-bg: #A02720;
  --menu-bg: #ED7D3A;
  --scroll-bg: #DB7C26;
}
.orange-select path {
  fill: currentColor;
}
.orange-select-header {
  background: var(--header-bg);
  border-radius: 3px;
}
.orange-select-title {
  background: var(--title-bg);
  border-top: 1px solid var(--title-border-bg);
}
.orange-select-arrow {
  background: var(--arrow-bg);
  border-top: 1px solid var(--title-border-bg);
  border-left: 1px solid var(--arrow-border-left-bg);
}
.orange-select-menu {
  background: var(--menu-bg);
}
.orange-select-option {
  background: inherit;
}
.orange-select-option:hover {
  filter: brightness(150%);
}
.orange-select-menu-wrapper > div::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.5);
}
.orange-select-menu-wrapper > div::-webkit-scrollbar-track {
  background: var(--scroll-bg);
}
