 .blue-select {
  --select-bg: #279AF1;
  --select-fg: #333;
  --title-bg: #333;
  --title-fg-hover: #444;
  --title-top-border-bg:rgba(255,255,255,0.1);
  --arrow-bg: #279AF1;
  --arrow-left-border-bg: #324c31;
  --menu-wrapper-bg: #279AF1;
  --menu-wrapper-shadow: #000;
  --option-bg: #279AF1;
  --option-bg-active: #248CDC;
  --option-fg-active: #333;
  --option-bg-hover: #1D71B0;
  --option-fg-hover: #444;
  --scroll-bg: #71AC6D;

   background: var(--select-bg);
   color: var(--select-fg);
 }
 .blue-title {
   border-top-color: var(--title-top-border-bg);
 }
.blue-title[data-is-open="true"] {
  transition-delay: 0s;
  background-color: var(--title-bg);
}
.blue-select:hover {
  color: var(--title-fg-hover);
}
.blue-select:hover path {
  fill: var(--title-fg-hover);
}
.blue-arrow {
  background: var(--arrow-bg);
  border-top-color: var(--title-top-border-bg);
  border-left-color: var(--arrow-left-border-bg);
}
.blue-menu-wrapper {
  box-shadow: 0px 1px 3px -1px var(--menu-wrapper-shadow);
  background-color: var(--menu-wrapper-bg);
  border-radius: 0 0 2px 2px;
}
.blue-option {
  background-color: var(--option-bg);
  white-space: nowrap;
}
.blue-option[data-is-active="true"] {
  background: var(--option-bg-active);
  color: var(--option-fg-active);
}
.blue-option:hover {
  background-color: var(--option-bg-active);
  color:  var(--option-fg-hover);
}
.blue-menu-wrapper > div::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.5);
}
.blue-menu-wrapper > div::-webkit-scrollbar-track {
  background: var(--scroll-bg);
}